{% extends 'base.html.twig' %}

{% block title %}
    Contact confirmation - {{ parent() }}
{% endblock %}
{% block breadcrumb %}
{% endblock %}
{% block body %}
    <div class="row">
        <div id="content" class="col-lg-12">
            <div class="jumbotron" role="alert">
                <p>Votre message à bien été envoyé.</p>
            </div>
        </div>
        <div class="col-lg-12">
            <a href="{{ path('homepage') }}" class="btn btn-primary">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}